html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  min-height: 240px;

}

.robot {
  width: 320px;
  display: flex;
  justify-content: center;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
}

.robot-head-left, .robot-head-right {
  width: 125px;
  position: absolute;
}

.robot-head-right {
  left: 10em;
  bottom: 3.25em;
}

.robot-head-left {
  right: 10em;
  bottom: 3.25em;
}

.robot:hover > .robot-head-left {
  left: 1em;
  top: .5em;
}

.robot:hover > .robot-head-right {
  right: .3em;
  top: .5em;
}
